# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# NuGet
packages/
*.nupkg

# Rider / VSCode
.idea/
.vscode/

# Others
*.cache
*.tmp
